.nav-bar {
    width: 90%;
    height: 8vh;
    background-color: #7f57c6;
    position: relative;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    outline: 1px solid white;
}

.sign-out-button {
    margin-right: 5%;
}