.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eff1f5;
}

.chatWindow {
    height: 90vh;
    width: 77%;
}

.chatList {
    background-color: #7f57c6;
    height: 90vh;
    width: 17%;
}

.sendBox {
    height: 10vh;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sendBar {
    width: 70%;
    border-radius: 2vh;
    height: 5vh;
    border: 1px solid black;
    padding: 5px;
    font-size: 2vh;
}

.sendBar:focus {
    outline: 0;
}

.sendButton {
    height: 5vh;
    width: 10vh;
    color: blue;
} 