.message-container {
    background-color: gainsboro;
    padding: 10px;
    width: fit-content;
    max-width: 80%;
    border-radius: 3vh;
    margin-left: 5%;
    margin-top: 10px;
}

.message-container-send {
    background-color: #7f57c6;
    color: #e6e6e6;
    padding: 10px;
    width: fit-content;
    max-width: 60%;
    border-radius: 3vh;
    align-self: flex-end;
    margin-right: 5%;
    margin-top: 10px;
}