.message {
    display: flex;
    align-items: center;
    max-width: 70%;
    margin-left: 2%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.message p {
    background-color: gainsboro;
    height: fit-content;
    padding: 11px;
    border-radius: 3vh;
    word-break: break-all;
}

.message-send {
    max-width: 70%;
    margin-top: 5px;
    margin-bottom: 5px;
    align-self: flex-end;
    margin-right: 2%;
}

.message-send p {
    background-color: #7f57c6;
    color: #e6e6e6;
    padding: 11px;
    border-radius: 3vh;
    word-break: break-all;
}

.sender-image {
    height: 40px;
    width: 40px;
    border-radius: 5vh;
    margin-right: 10px;
}